In [3]:
import matplotlib.pyplot as plt
import numpy as np
import math
from PIL import Image
import seaborn as sns
from scipy import linalg
from sklearn.decomposition import TruncatedSVD
from sklearn.utils.extmath import randomized_svd
from numpy import array
from numpy import diag
from numpy import zeros
from scipy.linalg import svd
import pandas as pd

In [10]:
gene_rpkm=pd.read_csv(r"C:\Users\austi\Downloads\Fall 2020\BME Data Sci\alan brain atlas data\mouse visual cortex cellular taxonomy\genes_rpkm.csv")
gene_rpkm.shape

(24057, 1680)

In [12]:
gene_rpkm.head()

,Unnamed: 0,A01101401,A01101402,A01101403,A01101404,A01101405,A01101406,A01101407,A01101408,A02271433,...,Y11041422,Y11041423,Y11041424,Y11041425,Z11041426,Z11041427,Z11041428,Z11041429,Z11041430,Z11041431
0,0610005C13Rik,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
1,0610007C21Rik,76.13,512.73,172.75,170.56,113.87,10.90,191.23,67.41,70.56,...,78.83,82.70,137.70,30.12,0.0,106.52,349.73,1.54,0.54,679.19
2,0610007L01Rik,0.05,10.11,0.00,0.02,0.04,0.06,70.19,1.82,0.00,...,0.00,21.78,25.23,30.82,0.0,0.00,0.00,1.17,7.65,0.12
3,0610007N19Rik,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
4,0610007P08Rik,0.00,0.00,0.00,0.00,0.00,0.00,0.53,0.00,0.00,...,0.00,0.00,0.00,0.00,0.0,0.08,0.00,0.00,43.42,0.00

In [11]:
gene_counts=pd.read_csv(r"C:\Users\austi\Downloads\Fall 2020\BME Data Sci\alan brain atlas data\mouse visual cortex cellular taxonomy\genes_counts.csv")
gene_counts.shape

(24057, 1680)

In [13]:
gene_counts.head()

,Unnamed: 0,A01101401,A01101402,A01101403,A01101404,A01101405,A01101406,A01101407,A01101408,A02271433,...,Y11041422,Y11041423,Y11041424,Y11041425,Z11041426,Z11041427,Z11041428,Z11041429,Z11041430,Z11041431
0,0610005C13Rik,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
1,0610007C21Rik,992.00,2287.02,491.78,1932.0,1425.0,130.03,2110.02,955.0,326.0,...,379.0,397.0,654.0,172.0,0.0,443.0,1457.0,4.0,2.08,2966.0
2,0610007L01Rik,2.57,177.00,0.00,1.0,2.0,3.00,3040.99,101.0,0.0,...,0.0,411.0,471.0,692.0,0.0,0.0,0.0,12.0,115.00,2.0
3,0610007N19Rik,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
4,0610007P08Rik,0.00,0.00,0.00,0.0,0.0,0.00,17.03,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1014.00,0.0