In [2]:
import matplotlib.pyplot as plt
import numpy as np
import math
from PIL import Image
import seaborn as sns
from scipy import linalg
from sklearn.decomposition import TruncatedSVD
from sklearn.utils.extmath import randomized_svd
from numpy import array
from numpy import diag
from numpy import zeros
from scipy.linalg import svd
import pandas as pd

In [7]:
gene_rpkm=pd.read_csv(r"C:\Users\austi\Documents\GitHub\DataScienceBME6900Project\alan brain atlas data\mouse visual cortex cellular taxonomy\genes_rpkm.csv")
gene_rpkm=gene_rpkm.transpose()
gene_rpkm.shape

(24057, 1680)

In [8]:
gene_rpkm.head()

,Unnamed: 0,A01101401,A01101402,A01101403,A01101404,A01101405,A01101406,A01101407,A01101408,A02271433,...,Y11041422,Y11041423,Y11041424,Y11041425,Z11041426,Z11041427,Z11041428,Z11041429,Z11041430,Z11041431
0,0610005C13Rik,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
1,0610007C21Rik,76.13,512.73,172.75,170.56,113.87,10.90,191.23,67.41,70.56,...,78.83,82.70,137.70,30.12,0.0,106.52,349.73,1.54,0.54,679.19
2,0610007L01Rik,0.05,10.11,0.00,0.02,0.04,0.06,70.19,1.82,0.00,...,0.00,21.78,25.23,30.82,0.0,0.00,0.00,1.17,7.65,0.12
3,0610007N19Rik,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
4,0610007P08Rik,0.00,0.00,0.00,0.00,0.00,0.00,0.53,0.00,0.00,...,0.00,0.00,0.00,0.00,0.0,0.08,0.00,0.00,43.42,0.00

In [20]:
gene_counts=pd.read_csv(r"C:\Users\austi\Documents\GitHub\DataScienceBME6900Project\alan brain atlas data\mouse visual cortex cellular taxonomy\genes_counts.csv")
gene_counts.shape

(24057, 1680)

In [49]:
gene_rpkm

,0,1,2,3,4,5,6,7,8,9,...,24047,24048,24049,24050,24051,24052,24053,24054,24055,24056
Unnamed: 0,0610005C13Rik,0610007C21Rik,0610007L01Rik,0610007N19Rik,0610007P08Rik,0610007P14Rik,0610007P22Rik,0610008F07Rik,0610009B14Rik,0610009B22Rik,...,mt_DQ540229,mt_DQ719271,mt_DQ719488,mt_DQ725839,mt_EF437370,mt_FR668231,mt_FW313083,mt_GU332589,mt_X57779,mt_X57780
A01101401,0,76.13,0.05,0,0,0,0,0,0,0.09,...,0,0,0,0,0,0,0,1401.76,242.94,242.94
A01101402,0,512.73,10.11,0,0,146.61,0,0,0,0,...,0,0,0,0,0,0,0,1397.16,539.54,539.54
A01101403,0,172.75,0,0,0,23.65,0,0,0,72.72,...,0,0,0,0,0,0,0,332.88,341.45,341.45
A01101404,0,170.56,0.02,0,0,117.6,0,0,0,125.81,...,0,0,0,0,0,0,0,1442.66,260.02,260.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Z11041427,0,106.52,0,0,0.08,221.36,0,0,0,141.14,...,0,0,0,0,0,0,0,1514.75,433.01,433.01
Z11041428,0,349.73,0,0,0,262.66,88.02,0,0,0,...,0,0,0,0,0,0,0,1949.32,787.32,787.32
Z11041429,0,1.54,1.17,0,0,219.92,0,0,0,94.38,...,0,0,0,0,0,0,0,1829.42,506.35,506.35
Z11041430,0,0.54,7.65,0,43.42,272.64,0,0,0,78.25,...,0,0,0,0,0,0,0,1275.09,709.91,709.91
Z11041431,0,679.19,0.12,0,0,436.88,0,0,0,20.77,...,0,0,0,0,0,0,0,2078.13,561.88,561.88

In [50]:
new_header = gene_rpkm.iloc[0]
gene_rpkm = gene_rpkm[1:]
gene_rpkm.columns = new_header
gene_rpkm

Unnamed: 0,0610005C13Rik,0610007C21Rik,0610007L01Rik,0610007N19Rik,0610007P08Rik,0610007P14Rik,0610007P22Rik,0610008F07Rik,0610009B14Rik,0610009B22Rik,...,mt_DQ540229,mt_DQ719271,mt_DQ719488,mt_DQ725839,mt_EF437370,mt_FR668231,mt_FW313083,mt_GU332589,mt_X57779,mt_X57780
A01101401,0,76.13,0.05,0,0,0,0,0,0,0.09,...,0,0,0,0,0,0,0,1401.76,242.94,242.94
A01101402,0,512.73,10.11,0,0,146.61,0,0,0,0,...,0,0,0,0,0,0,0,1397.16,539.54,539.54
A01101403,0,172.75,0,0,0,23.65,0,0,0,72.72,...,0,0,0,0,0,0,0,332.88,341.45,341.45
A01101404,0,170.56,0.02,0,0,117.6,0,0,0,125.81,...,0,0,0,0,0,0,0,1442.66,260.02,260.02
A01101405,0,113.87,0.04,0,0,180.93,0,0,0,0.1,...,0,0,0,0,0,0,0,749.68,348.1,348.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Z11041427,0,106.52,0,0,0.08,221.36,0,0,0,141.14,...,0,0,0,0,0,0,0,1514.75,433.01,433.01
Z11041428,0,349.73,0,0,0,262.66,88.02,0,0,0,...,0,0,0,0,0,0,0,1949.32,787.32,787.32
Z11041429,0,1.54,1.17,0,0,219.92,0,0,0,94.38,...,0,0,0,0,0,0,0,1829.42,506.35,506.35
Z11041430,0,0.54,7.65,0,43.42,272.64,0,0,0,78.25,...,0,0,0,0,0,0,0,1275.09,709.91,709.91
Z11041431,0,679.19,0.12,0,0,436.88,0,0,0,20.77,...,0,0,0,0,0,0,0,2078.13,561.88,561.88

In [12]:
cellmeta=pd.read_csv(r"C:\Users\austi\Documents\GitHub\DataScienceBME6900Project\alan brain atlas data\mouse visual cortex cellular taxonomy\cell_metadata.csv")
cellmeta.shape

(1679, 16)

In [41]:
excitatory_meta=cellmeta.loc[cellmeta['major_class']=='Excitatory']
Excitatory_cells=excitatory_meta['long_name']
Excitatory_cells

2       A01101403
5       A01101406
6       A01101407
7       A01101408
8       A02271433
          ...
1470    U11051420
1472    U11051422
1480    U11051430
1482    U11051432
1486    U11051441
Name: long_name, Length: 756, dtype: object

In [51]:
excitatory_gene_rpkm=gene_rpkm.loc[Excitatory_cells]
excitatory_gene_rpkm

Unnamed: 0,0610005C13Rik,0610007C21Rik,0610007L01Rik,0610007N19Rik,0610007P08Rik,0610007P14Rik,0610007P22Rik,0610008F07Rik,0610009B14Rik,0610009B22Rik,...,mt_DQ540229,mt_DQ719271,mt_DQ719488,mt_DQ725839,mt_EF437370,mt_FR668231,mt_FW313083,mt_GU332589,mt_X57779,mt_X57780
A01101403,0,172.75,0,0,0,23.65,0,0,0,72.72,...,0,0,0,0,0,0,0,332.88,341.45,341.45
A01101406,0,10.9,0.06,0,0,219.01,1.63,0,0,0.1,...,0,0,0,0,0,0,0,729.64,458.86,458.86
A01101407,0,191.23,70.19,0,0.53,134.03,6.35,0,0,200.77,...,0,0,0,0,0,0,0,746.42,336.74,336.74
A01101408,0,67.41,1.82,0,0,118.29,0,0,0,68.43,...,0,0,0,0,0,0,0,799.18,447.15,447.15
A02271433,0,70.56,0,0,0,60.55,0,0,0,0,...,0,0,0,0,0,0,0,1363.71,524.27,524.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
U11051420,0,129.23,12.95,0,0,57.8,3.44,0,0,26.48,...,57.95,0,0,0,0,0,0,1048.82,523.74,523.74
U11051422,0,74.81,18.84,0,0,70.5,0,0,0,56.42,...,0,0,0,0,0,0,0,1703.21,597.24,597.24
U11051430,0,99.27,0,0,0.45,92.36,0,0,0,162.51,...,0,0,0,0,0,0,0,1456.25,400.31,400.31
U11051432,0,0,0,0,0.26,137.51,7.17,0,0,12.58,...,0,0,0,0,0,0,0,942.73,743.95,743.95
U11051441,0,0.17,0.24,0,0,63,0,0,0,5.13,...,0,0,0,0,0,0,0,1447.44,576.54,576.54